<div id="left">
    <img src="../images/logo.png" alt="">

    <div id="links">
        <a class="link" href="/home">
            <i class="ri-home-5-fill"></i>
            Home
        </a>
        <a class="link" href="/add-stud">
            <i class="ri-user-add-fill"></i>
            New Student
        </a>
        <a class="link" href="https://forms.gle/gDBF8xdQdYRv6mJq7">
            <i class="ri-questionnaire-fill"></i>
            Enquiry Form
        </a>
        <a class="link" href="/manage-student">
            <i class="ri-edit-fill"></i>
            Manage Student
        </a>
        <a class="link" href="/fee">
            <i class="ri-cash-line"></i>
            Fee Management
        </a>
        <a class="link" href="/course">
            <i class="ri-book-line"></i>
            Course Management
        </a>
    </div>

    <div id="settings">
        <a href="" id="set">
            <i class="ri-settings-3-fill"></i>
            Settings
        </a>
        <a id="log-out" href="/logout"><i class="ri-shut-down-line"></i>Logout</a>
    </div>
</div>