<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Midas Academy | Student Management</title>
    <link rel="stylesheet" href="../stylesheets/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        #left #links .link:nth-child(1) {
            color: #00000085;
        }

        #left #links .link:nth-child(4) {
            color: #000;
        }

        #left #links .link:nth-child(5) {
            color: #00000085;
        }

        #left #links .link:nth-child(6) {
            color: #00000085;
        }
    </style>
</head>
<body>
    <div id="main">
        <% include ./partials/nav.ejs %>

        <div id="right">
            <h1>Student Manage Page</h1>
        </div>
    </div>
</body>
</html>